<section class="main-wrap-content bg-color-wrap">
  <section class="head-wrap">

    <h1>Nuevo Proyecto</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Facilis.</p>

  </section>
</section>

<section class="main-wrap-content wrap-content-med">
  <section class="content-wrap">

    <%= render 'form', project: @project %>

    <%= link_to 'Volver', projects_path,  class: 'access-button' %>

  </section>
</section>
